<!DOCTYPE html>
<html lang="en">
<head>


    <title> wedding </title>

</head>

<body>
    <div id = 'container'></div>
    <div id = 'info'>show data</div>
    <script src = "http://apps.bdimg.com/libs/jquery/2.1.4/jqery.js"></script>
    <script>
        $.ajax({
            url: "test_post/nn",
            type: "POST",
            dataType: "json",
            sussess: function(data){
                console.log(data)
            }
        })

    </script>

    {{}} test the flask

</body>



</html>
